-e .
-e ../core

click
lxml
jsonschema
Flask
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool
pyaml

git+https://github.com/sirfz/tesserocr#egg=tesserocr
opencv-python
requests
Pillow
numpy
